<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WIN_Cliente.Properties.Settings.BdTiendaConnectionString"
            connectionString="Data Source=10.10.10.208;Initial Catalog=BdTienda;Persist Security Info=True;User ID=dmendoza;Password=Bata2013"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>